.ant-image-preview-img {
  object-fit: contain;
}

.ant-modal {
  .ant-modal-content {
    max-height: 90vh !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
}

.ant-tree-node-content-wrapper {
  width: 100% !important;
}

.ant-tree-treenode {
  width: 100% !important;
}

