@import "./reset.css";
@import "./variables.css";
@import "./components.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--bg-dashboard);
  color: var(--text-dashboard);
  font-family: var(--ff-os-regular);
}